<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
  <title>Authentication</title>
</head>
<body>
	You are not authorized.
</body>
</html>