
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
  <title>Authentication</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Node Authentication</h1>
    </div>
    <div class="row">
    	<p>Hurray, you have logged in!</p>
    </div>
    <div class="row">
    	<form id="logout" name="logout" method="get" action="logout">
    		<input class="btn btn-primary" type="submit" value="Sign Out" />
    	</form>
    </div>
      

</body>
</html>